
* {
    box-sizing: border-box;
  }
  body{
      margin: 0;
  }
  h1{
      font-size: 30px;
  }
/* Style the header */
header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  

  
  article {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
    text-align: center;
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }


.login {
    width: 60%;
    height: 245px;
	margin: 0 auto;
}
.center {
    padding: 20px;
}
input {
    padding: 10px;
    width: 90%;
}
.logout {
    text-align: center;
}
.loginButton{
    font-weight: bold;
    width: 90%;
    background: #00bcd4;
    border: 1px solid #00bcd4;
    font-size: 14px;
    color: #fff;
}
.messageDisplay{
    color:red;
}
a{    font-size: 22px;
    font-weight: bold;
}